/* Calendar.css */

/* .calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;

  display: inline-block;
  width: 40%;

  margin-top: 740px;
}

.calendar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;  
  margin-top: 100px;
  
}

.calendar button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


.calendar table {
  width: 100%;
  border-collapse: collapse;
  
}

.calendar td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  width: 14.2857%;
} */








/* Calendar.css */

.calendar-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  width: 42%;
  margin-top: 2400px; /* Adjust as needed */
}

.calendar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;     
}

.calendar button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style the individual day cells */
.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  width: 14.2857%;
}
