/* Certificate.css */

.certificate-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  /* padding: 20px; */
  padding: 40px 25px 50px;
  background-color: #fff;
  /* background-color: #0d5d9a; */
  /* color: white; */
  /* width: 40%; */
  width: 70%;
  margin-top: 20px; /* Adjust the margin as needed */

  /* Center the content within the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-left: auto;
  color: #00578f;




  margin-right: -30%;



  
}




.certificate-space {
  margin-right: 20px; /* Adjust the margin as needed */
}

h2{
  color: #00578f;
}