/* FileUpload.css (or add styles to your existing CSS file) */
.file-upload-container {
  text-align: right; /* Align content to the right */
  margin-right: 20px; /* Add some right margin for spacing */  
}

/* .right-aligned{
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 800px;
} */

/* FileUpload.css */

/* Style the container */
.file-upload-container {
  text-align: center; /* Center content horizontally */
  
  /* margin-top: 20px;  */
  /* margin-right: 100px; */
  background-color: #0d5d9a;
  color: #fff;



  /* padding: 100px; */
  padding: 100px 25px 100px;



  font-family: Arial, sans-serif;
  border: 1.5px solid #ccc;
  width: 41%;



  /* padding: 100px 40px 100px 25px; */



  /* background-color: #fff; */


  
  display: inline-block;
  /* width: 100%; */
  /* width: 90%; */
  /* height: 43px; */
  /* margin-top: 2400px; */
  margin-top: 3670px;
  
}











/* Style the input */
/* .file-upload-container input[type="file"] {
  display: none; /* Hide the default file input */
/* } */ 







/* Style the custom button */
.file-upload-container button {
  /* background-color: #0d5d9a; */
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
  /* margin-top: 2400px;   */
}

.file-upload-container button:hover {
  background-color: #00508b;   
}
